@mixin font-size($size: 1.6) {
  font-size: ($size * 10) + px;
  font-size: $size + rem;
}
@function safe-area($heading: top, $v: 0) {
  $safe-area: $safe-area-inset-top;
  @if $heading == "top" {
    $safe-area: $safe-area-inset-top;
  } @else if $heading == "right" {
    $safe-area: $safe-area-inset-right;
  } @else if $heading == "bottom" {
    $safe-area: $safe-area-inset-bottom;
  } @else if $heading == "left" {
    $safe-area: $safe-area-inset-left;
  }
  @return calc( #{$v}px + #{$safe-area} );
}
