$videoColor: blue;
$photoColor: purple;
$placeColor: red;
$musicColor: green;
$voiceColor: yellow;
$weblinkColor: #fff;

$titleColor: #000;
$descColor: #dfdfdf;
$recordFooterMediasBgColor: rgb(210, 210, 210);
$timelineColor: rgb(210, 210, 210);

// Shelf
$shelfFontColor: #fff;
$shelfFontColorReverse: #323232;

$safe-area-inset-top: env(safe-area-inset-top);
$safe-area-inset-bottom: env(safe-area-inset-bottom);
$safe-area-inset-left: env(safe-area-inset-left);
$safe-area-inset-right: env(safe-area-inset-right);
$boder-margin-top: 45px;