$textColor: #ffffff;
$placeColor: #ad4d3c;
$weblinkColor: #5eb4f2;
$photoColor: #5b70a1;
$videoColor: #489bac;
$voiceColor: #f4ad43;
$musicColor: #5189e9;
$bookColor: #91b450;
$archiveColor: #9666bd;

$titleColor: #000;
$descColor: #dfdfdf;
$recordFooterMediasBgColor: #d2d2d2;
$timelineColor: #d2d2d2;
$globalViewBackgroundColor: #fff;

// Shelf
$shelfFontColor: #fff;
$shelfFontColorReverse: #323232;
$shelfFilterActivedColor: #fff;

// Overview
$memoryItemBorderColor: #f6f6f6;

// Record
$recordInputBackgroundColor: #e3e4e6;