@import "flex";

@mixin font-size($size: 1.6) {
  font-size: ($size * 10) + px;
  font-size: $size + rem;
}

$safe-area-inset-top: env(safe-area-inset-top);
$safe-area-inset-bottom: env(safe-area-inset-bottom);
$safe-area-inset-left: env(safe-area-inset-left);
$safe-area-inset-right: env(safe-area-inset-right);

@function safe-area($heading: top, $v: 0) {
  $safe-area: $safe-area-inset-top;
  @if $heading == "top" {
    $safe-area: $safe-area-inset-top;
  } @else if $heading == "right" {
    $safe-area: $safe-area-inset-right;
  } @else if $heading == "bottom" {
    $safe-area: $safe-area-inset-bottom;
  } @else if $heading == "left" {
    $safe-area: $safe-area-inset-left;
  }
  @return calc( #{$v}px + #{$safe-area} );
}

// border1px
@mixin border1px($direction, $type, $color) {
  @if $direction!= "" {
    border-#{$direction}: 1px $type $color;
  } @else {
    border: 1px $type $color;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2) {
    @if $direction!= "" {
      border-#{$direction}: 0.5px $type $color;
    } @else {
      border: 0.5px $type $color;
    }
  }
  @media screen and (-webkit-min-device-pixel-ratio: 3) {
    @if $direction!= "" {
      border-#{$direction}: 0.333333px $type $color;
    } @else {
      border: 0.333333px $type $color;
    }
  }
}

@mixin ellipsis() {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  word-break: keep-all;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}